@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #303037;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note_block {
    position: relative;
    width: 80%;
}

.note_block-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    box-sizing: border-box;
    background: #36363d;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note_block-top-time {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #EBEBF5;
    width: 80%;
    height: 40px;
}

.note_block-top-title {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.note_block-top-title img {
    margin-right: 10px;
}

.notearea {
    flex: 1;
    font-size: 14px;
    padding: 15px;
    line-height: 1.6;
    border-radius: 10px;
    outline: 2px solid #1e1e23;
    border: unset;
    background: #474750;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    color: #fff;
    resize: none;
}

.notearea:focus-visible {
    outline: 2px solid #0f0f15;
}
