@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-title {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    text-align: left;
    display: inline-block;
    margin-right: 20px;
}

.note_top {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.note_block {
    position: relative;
    width: 80%;
}

.note_block-top-time {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.note_block-top-title {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.notearea {
    flex: 1;
    font-size: 17px;
    padding: 20px;
    line-height: 1.6;
    border-radius: 10px;
    outline: 2px solid #d9d9d9;
    border: unset;
    background: #f9f8f7;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    resize: none;
}

.notearea:focus-visible {
    outline: 2px solid #d9d9d9;
}




